/* reset */
*{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;color:#333;}
img{border:0;}
.clearfix:after,.clearfix:before{content:"";display:block;clear:both;}
body{color:#333;}

/* layout */
#wrap{width:1200px;margin:0 auto;}
header{width:100%;height:100px;
background:skyblue;}
.slide{width:100%;height:300px;}
.content{width:100%;height:200px;margin:10px 0;}
footer{width:100%;height:100px;
background:#eee;}

/* header */
header h1{float:left;padding:25px;}
header nav{z-index:10;position:relative;right:20px;top:20px;float:right;width:700px;}
header nav>ul>li{float:left;width:25%;text-align:center;}
header nav>ul>li>a{display:block;padding:10px 30px;
border:1px solid blue;border-right:0;
font-size:20px;font-weight:bold;}
header nav>ul>li:nth-child(4)>a{border-right:1px solid blue;}
header nav>ul>li:hover>a{color:#fff;background:#1266FF;}

header nav>ul>li>ul.sub{position:relative;display:none;background:#fff;}
header nav>ul>li>ul.sub>li{text-align:center;}
header nav>ul>li>ul.sub>li>a{display:block;padding:15px 30px;font-size:18px;}
nav>ul>li>ul.sub>li:hover>a{color:#fff;background:#1266FF;}

/* slide */
.slide .slideList{position:relative;}
.slide .slideList .slideImg{position:absolute;left:0;top:0;}
.slide .slideList .slideImg a{}
.slide .slideList .slideImg a img{}
.slide .slideList .slideImg span{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);padding:10px 30px;
color:#fff;background:rgba(0,0,0,0.8);border-radius:25px;
font-size:18px;}


/* content */
.content section{float:left;width:33.333%;}

/* notice */
.notice{position:relative;box-sizing:border-box;}
.notice h2{float:left;padding:20px 15px;cursor:pointer;}
.notice h2.active{color:blue;font-weight:bold;}

.notice ul{position:absolute;top:70px;left:10px;}
.notice ul:nth-of-type(1){display:block;width:94%;}
.notice ul:nth-of-type(1) li{font-size:18px;}
.notice ul:nth-of-type(1) li:after{content:"";display:block;clear:both;}
.notice ul:nth-of-type(1) li a{display:block;padding:3px 0;float:left;}
.notice ul:nth-of-type(1) li span{float:right;}

.notice ul:nth-of-type(2){display:none;}
.notice ul:nth-of-type(2) li{float:left;}
.notice ul:nth-of-type(2) li a{display:block;padding:8px 3px;}
.notice ul:nth-of-type(2) li a img{width:120px;}

/* banner */
.banner{position:relative;}
.banner h2{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);padding:10px 20px;
background:skyblue;border-radius:20px;cursor:pointer;}

/* direct */
.direct{position:relative;}
.direct h2{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);padding:10px 20px;
background:skyblue;border-radius:20px;cursor:pointer;}

/* layer */
.layer{display:none;position:fixed;left:50%;top:50%;transform:translate(-50%,-50%);width:500px;height:300px;background:#fff;
border:2px solid #777;border-radius:20px;}
.layer .title{padding:20px;font-size:20px;font-weight:bold;}
.layer .desc{padding:20px;}
.layer a{position:absolute;right:20px;bottom:20px;
font-size:18px;}

/* footer */
footer .foot_logo{float:left;padding:30px;width:200px;}
footer .foot_logo img{width:160px;}

footer .foot_right{float:right;width:900px;}
footer .foot_right .foot_menu{padding-left:260px;margin:20px 0;}
footer .foot_right .foot_menu li{float:left;}
footer .foot_right .foot_menu li a{display:block;padding:0 20px;font-size:18px;}

footer .copy{clear:both;
color:#999;text-align:center;}